{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h3>Entregables</h3>

<div class="contenido">
  <p>
    Estimados profesores,
  </p>

  <p>
    Nos dirigimos a ustedes para informarles acerca de los plazos de entrega de los trabajos prácticos por parte de los
    estudiantes, y destacar la importancia que estos tienen en el proceso de enseñanza y evaluación. Los trabajos
    prácticos desempeñan un papel fundamental en la adquisición de conocimientos y habilidades por parte de los alumnos,
    y su correcta evaluación es crucial para evaluar su rendimiento académico.
  </p>

  <p>
    Les solicitamos que comuniquen claramente a los estudiantes la fecha límite de entrega y los requisitos específicos
    para la presentación del trabajo.
  </p>

  <p>
    Fecha de entrega: [fecha] <br>
    Descripción del trabajo práctico: [descripción]
  </p>

  <p>
    En este trabajo práctico, se espera que los estudiantes demuestren [objetivo]. Les recordamos la importancia de
    brindarles orientación y retroalimentación durante el proceso de realización del trabajo para facilitar su
    aprendizaje y desarrollo.
  </p>

  <p>
    Es fundamental subrayar la importancia de establecer plazos claros y realistas para la entrega de los trabajos
    prácticos. Estos plazos permiten a los estudiantes organizar su tiempo de manera efectiva, así como recibir una
    evaluación oportuna y constructiva por parte de los docentes. Además, la retroalimentación temprana contribuye a
    fortalecer el proceso de aprendizaje y facilita la identificación de posibles áreas de mejora.
  </p>

  <p>
    Les instamos a brindar apoyo y orientación a los estudiantes en relación con los trabajos prácticos, asegurándose de
    que comprendan claramente los objetivos, las instrucciones y los criterios de evaluación. Asimismo, les pedimos que
    fomenten una cultura de cumplimiento de los plazos establecidos, promoviendo la responsabilidad y el compromiso por
    parte de los alumnos.
  </p>

  <p>
    Agradecemos su colaboración y dedicación en la evaluación de los trabajos prácticos. Su labor desempeña un papel
    fundamental en el desarrollo académico y profesional de los estudiantes, y su apoyo contribuye en gran medida a su
    éxito educativo.
  </p>

  <p>
    Quedamos a su disposición para cualquier consulta o asistencia adicional.
  </p>

  <p>
    Atentamente, <br>
    Equipo Coder
  </p>

</div>


{% endblock %}